ol {
    margin: 0;
    padding: 0
}

.c8 {
    vertical-align: top;
    width: 468pt;
    border-style: solid;
    background-color: #000000;
    border-color: #000000;
    border-width: 1pt;
    padding: 5pt 5pt 5pt 5pt
}

.c22 {
    font-size: 9pt;
    background-color: #eeeeee;
    font-family: "Verdana"
}

.c26 {
    color: #f3f3f3;
    font-size: 10pt;
    font-family: "Courier New"
}

.c18 {
    color: #f3f3f3;
    font-size: 9pt;
    font-family: "Courier New"
}

.c14 {
    font-size: 10pt;
    background-color: #ffffff;
    font-family: "Courier New"
}

.c7 {
    color: #666666;
    font-size: 12pt;
    font-family: "Trebuchet MS"
}

.c0 {
    list-style-type: circle;
    margin: 0;
    padding: 0
}

.c10 {
    color: #efefef;
    font-size: 9pt;
    font-family: "Courier New"
}

.c3 {
    list-style-type: disc;
    margin: 0;
    padding: 0
}

.c30 {
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c4 {
    line-height: 1.0;
    text-align: justify
}

.c11 {
    color: #1155cc;
    text-decoration: underline
}

.c5 {
    padding-left: 0pt;
    margin-left: 36pt
}

.c27 {
    line-height: 1.25;
    text-align: justify
}

.c17 {
    padding-left: 0pt;
    margin-left: 72pt
}

.c29 {
    color: #666666;
    font-family: "Trebuchet MS"
}

.c20 {
    color: inherit;
    text-decoration: inherit
}

.c12 {
    color: #efefef;
    font-size: 9pt
}

.c28 {
    line-height: 1.25
}

.c2 {
    direction: ltr
}

.c25 {
    padding-bottom: 3pt
}

.c9 {
    margin-left: 63pt
}

.c19 {
    text-align: center
}

.c15 {
    height: 0pt
}

.c24 {
    height: 11pt
}

.c23 {
    text-decoration: underline
}

.c1 {
    font-weight: bold
}

.c6 {
    line-height: 1.0
}

.c16 {
    color: #ff0000
}

.c21 {
}

.c13 {
    border-collapse: collapse
}

.title {
    padding-top: 20pt;
    line-height: 1.15;
    text-align: left;
    color: #000000;
    font-size: 34pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt
}

.subtitle {
    padding-top: 0pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 13pt;
    font-family: "Trebuchet MS";
    padding-bottom: 10pt
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    color: #000000;
    font-size: 11pt;
    margin: 0;
    font-family: "Arial"
}

h1 {
    padding-top: 10pt;
    line-height: 1.15;
    text-align: left;
    color: #000000;
    font-size: 16pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt
}

h2 {
    padding-top: 10pt;
    line-height: 1.15;
    text-align: left;
    color: #000000;
    font-size: 13pt;
    font-family: "Trebuchet MS";
    font-weight: bold;
    padding-bottom: 0pt
}

h3 {
    padding-top: 8pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-size: 12pt;
    font-family: "Trebuchet MS";
    font-weight: bold;
    padding-bottom: 0pt
}

h4 {
    padding-top: 8pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-size: 11pt;
    text-decoration: underline;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt
}

h5 {
    padding-top: 8pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-size: 11pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt
}

h6 {
    padding-top: 8pt;
    line-height: 1.15;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 11pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt
}